* {
    font-family: "lato";
          }

 /* Name styling */
h1 {
position: absolute;
left: 50%;
top: 5%;
}

/* About me header styling */
h2 {
font-weight: bold;
color: #648381 ;
padding: 2%;
display: flex;
justify-content: center;
}

/* My projects header styling */
h3 {
font-weight: bold;
font-size: 30px;
text-align: center;
padding: 2%;
}

/* NavBar background color */
nav {
background-color: black;
}

/* Nav lin */
nav ul {
    padding: 10px;
    display: flex;
    justify-content: right;
    list-style: none;
}

nav ul li {
    padding: 10px;

}

nav ul li a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 767px) {
    nav ul {
        height: 230px;
        flex-direction: column;
        text-align: center;
    }
}


 /* Nav button styling  */
button {
border-color: white;
padding: 10px 20px;
background-color: black;
}

/* When hover on the button, pops up */
button:hover {
  transform: translateY(-2px);
}


.about-me {
position: relative;
color: white;
background-color: #648381;
margin-top: 10px;
margin: auto;
display: inline-flex; 
display: flex;
width: 80%;
length:50%
}

.jg-pastry {
position: relative;
margin: 10%;
height: 20%;
width: 20%;
}

.about-me-text {
position: absolute;
padding: 10px;
background-color:#e5ebea;
color: black;
left: 20%;
length: 50%;
margin: 10%;
    }

.portfolio {
    width: 80%;
    margin: auto;
background-color:#e5ebea;
margin-top: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
float: left;
width: 33.3%;
margin left: 5%;
}


/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}


card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-right: 10px;
  }

.project-img {
    max-width: 50%;
    max-height: 50%;
    margin-left: 25%;
     }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 1px 4px;
}

.container p {
    text-align: center;
    flex-wrap: wrap;
    padding: 2%;
    
}





@media screen and (max-width:600px) {
.column {
  width: 100%;
}
}


form {
margin-top: 10px;
background-color: #37323e;
}

.contact-form {
display: flex;
justify-content: center;
color: white;
display: flex;
align-items: center;
}

label, button {
margin: 10px;
}

footer {
    margin-top: 10px;
    background-color:black;
    text-align: center;
    padding: 10px;
  }
}

.social-media ul li {
    display: inline-block;
margin-left: 5px;
}