* {
    font-family: "lato";
    }


header {
    text-align: center;
    background-color: black;
    color:white;
    border: solid 3px black;
    length: 100%;
    
}

nav {
background-color: black;
color: white;
border: solid 3px black;
}

nav ul li{ 
display: inline-block;
margin-left: 10px;
        }

.nav-links {
display: flex;
justify-content: right;
 }

a:link, a:visited {
    color: white;
}

.about-me {
    color: white;
    background-color: #648381;
margin-top: 10px;
display: inline-flex; 
width: 100%;
}

.jg-pastry {
display: flex;
justify-content: left;
margin: 10%;
height: 20%;
width: 20%;
}

.about-me-text {
display: flex;
flex-wrap: wrap;
height: 20%;
length: 100%;
margin: 10%;

    }

.portfolio {
border: solid 3px black;
margin-top: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
float: left;
width: 33.3%;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

@media screen and (max-width:600px) {
.column {
  width: 100%;
}
}




form {
border: solid 3px black;
margin-top: 10px;
}

.contact-form {
display: flex;
align-items: center;
}

label, button {
margin: 10px;
}

footer {
     background-color:black;
    text-align: center;
    padding: 10px;
  }
}

.social-media ul li {
    display: inline-block;
margin-left: 5px;
}